1Password/
ashell/
autostart/
bluetuith/
BraveSoftware/
cachyos/
celluloid/
chromium/
Code/*
!Code/User/settings.json
Code-back/
dconf/
discord/
easyeffects/
FortiClient/
google-chrome/
google-chrome-beta/
google-chrome-unstable/
JetBrains/
lunarclient/
Meltytech/
micro/
microsoft-edge-dev/
nautilus/
net.imput.helium/
nvm/
nwg-look/
obs-studio/
obsidian/
onedrive/
onlyoffice/
ow-electron/
pulse/
session/
spotify/
systemd/
teams-for-linux/
VirtualBox/
vivaldi/
vivaldi-snapshot/
VSCodium/
xsettingsd/

cachyos-hello.json
dolphinrc
kdeglobals
kdenliverc
kiorc
mimeapps.list
pavucontrol.ini
QtProject.conf
theme.toml
user-dirs.dirs

