./1Password/
./ashell/
./autostart/
./bluetuith/
./BraveSoftware/
./cachyos/
./celluloid/
./chromium/
./Code-back/
./dconf/
./discord/
./easyeffects/
./FortiClient/
./google-chrome/
./google-chrome-beta/
./google-chrome-unstable/
./JetBrains/
./lunarclient/
./Meltytech/
./micro/
./microsoft-edge-dev/
./nautilus/
./net.imput.helium/
./nvm/
./nwg-look/
./obs-studio/
./onedrive/
./onlyoffice/
./ow-electron/
./pulse/
./session/
./spotify/
./systemd/
./teams-for-linux/
./VirtualBox/
./vivaldi/
./vivaldi-snapshot/
./VSCodium/
./xsettingsd/



./cachyos-hello.json
./dolphinrc
./kdeglobals
./kdenliverc
./kiorc
./mimeapps.list
./pavucontrol.ini
./QtProject.conf
./theme.toml
./user-dirs.dirs
./user-dirs.locale
./yazi.toml
